.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.post-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

h3 {
  margin: 0 0 10px;
  text-transform: capitalize;
}

.post-body {
  margin: 0;

  &::first-letter {
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
  .post-item {
    cursor: pointer;

    &:has(.collapsed) h3 {
      margin: 0;
    }
  }

  .post-body.collapsed {
    display: none;
  }

  .post-body.expanded {
    display: block;
  }
}
